/* General */
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 156px;
}

.header {
    background-color: #aa1c1c;
    min-height: 500px;
    padding-top: 82px;
    padding-bottom: 82px;
    color: #FFFFFF;
}
.header_title {
    font-size: 62px;
    font-weight: 600;
    margin-bottom: 30px;
}
.header_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-width: 437px;
    margin-bottom: 45px;
}
.header_button {
    width: 194px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

/* Block */
.block {
    text-align: center;
    margin-bottom: 118px;
}
.block_title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-bottom: 25px;
}
.block_text {
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 400;
    color: #9CA3AF;
    max-width: 465px;
    margin: 0 auto;
}


/* Services */
.services {
    padding: 89px 0 150px;
}
.services_items {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
}
.item {
    width: 280px;
    height: 116px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_items_img {
    align-self: center;
}
.services_items_title {
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
}

/* Team */
.team_items {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
}

/* Media */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .services_items {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0 15px;
    }
    .header_title {
        font-size: 36px;
    }
}